html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Nunito;
    color: #fff;
    line-height: 1.5;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}