html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Nunito;
    color: #fff;
    line-height: 1.5;
}

main.wrapper {
    max-width: 1200px;
    margin: auto;
}

.dark {
    background-color: #000;
    color: #DEC9E9;
}

.purple {
    background-color: #7251B5;
}